/* Typography */
@font-face {
  font-family: Righteous;
  src: url(fonts/Righteous-Regular.ttf) format("truetype");
}

.custom-block-title {
  @apply text-white text-3xl font-bold tracking-normal;
}
.custom-block-big-title {
  @apply text-white text-4xl xl:text-5xl font-bold tracking-normal;
}
.custom-block-subtitle {
  @apply text-xs text-customSecondary  tracking-wider font-bold uppercase;
}
.custom-content-title {
  @apply text-white text-lg font-bold tracking-normal;
}
.custom-content-text-white {
  @apply text-white text-base leading-relaxed;
}
.custom-content-text-gray {
  @apply text-gray-400 text-base;
}

::selection{
  @apply bg-primary-900 ;
  color: rgba(255, 255, 255, 0.625);
}

/* Backgrounds */

.custom-bg-dark1 {
  @apply bg-customDarkBg1  fill-customDarkBg1;
}
.custom-bg-dark2 {
  @apply bg-customDarkBg2  fill-customDarkBg2;
}
.custom-bg-dark3 {
  @apply bg-customDarkBg3  fill-customDarkBg3;
}
body,
html {
  @apply bg-customDarkBg2;
}

/* Borders */

.custom-border-gray {
  @apply border border-solid border-[rgb(255,255,255,0.15)];
}
.custom-border-gray-darker {
  @apply border border-solid border-[rgb(255,255,255,0.07)];
}

/* Buttons */

.custom-button-colored {
  @apply rounded-lg font-bold bg-customPrimary text-white flex justify-center items-center hover:bg-customHover cursor-pointer transition;
}

/* Navbar */

.navbar-link {
  transition: all 150ms ease-in-out;
  @apply text-white lg:text-base text-2xl leading-6 mr-5 ml-5 cursor-pointer font-normal lg:font-medium h-full pt-2;
}

.navbar-link {
  position: relative;
}

.navbar-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 75%;
  border-bottom: 4px solid transparent;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  transform: translateX(-50%);
}

.navbar-link:hover::after {
  @apply border-primary-500
}